body{
   background-color: rgb(59, 8, 8);
   background-image: url("https://i.pinimg.com/1200x/57/84/a4/5784a4f855c12b4e6d8bf6502933ab69.jpg");
 
}

.container-fluid{
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
    
}
#img1{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    
}

.nav-item:hover{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    
}


.nav-link{
    color: white;
    font-size: 20px;
    font-weight: bold;
   
}

.navbar-nav{
gap: 200px;

}

@media screen and (max-width: 600px) {
    .navbar-nav{
        
        width: 100%;
        gap: 20px;
        display: flex;
        
    }


 .nav-link{

    font-size: 15px;
    font-weight: bold; 
    
    
 }

.navbar-toggler{
color: white;

    
}







}



@media screen and (max-width: 900px) {
    .navbar-nav{
        gap: 0;
        
    }

}


@media screen and (max-width: 1024px) {
    .navbar-nav{
        gap: 100px;
        
    }

}





#call1{
    background-color: white;
    border-radius: 30px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    gap: 30px;
    justify-content: center;
    
}
#call2{
    background-color: white;
    border-radius: 30px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    gap: 30px;
    justify-content: center;
    
}

#call3{
    background-color: white;
    border-radius: 30px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    gap: 30px;
    justify-content: center;
    
}

#call4{
    background-color: white;
    border-radius: 30px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    gap: 30px;
    justify-content: center;
    
}

img{
    height: 500px;
}


.afoot{
    text-decoration: none;
    color: white;
    font-size: 20px;
  
}


#foot{
   
    background-color: rgba(0, 0, 0, 0.801);
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin-top: 20px;
    border-radius: 30px;
    list-style: none;
}
 
ul{

    list-style: none;
    color: white;

}

#foot1{

    border-right: 2px solid white;
    padding-right: 20px;
    display: grid;
    grid-template-columns: auto auto;
   border-left: 2px solid white;
   
}

button{
    background-color: rgba(0, 0, 0, 0.801);
    color: white;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
    border: none;
}



button:hover{
   background-color: rgb(255, 163, 3);
    color: rgb(10, 9, 9);
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
    border: none;
}
