body{
   background-image: url("https://i.pinimg.com/1200x/57/84/a4/5784a4f855c12b4e6d8bf6502933ab69.jpg");
}


.container-fluid{
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
    
}


/**********************************************************************/

@media screen and (max-width: 600px) {

   .navbar{
        width: 150%;
        
    }



    .card{
        margin-left: 50px;
         margin-right: 250px;



    }

    h1{
        margin-left: 500px;
         margin-right: 0px;

    }

    footer{
        margin-left: 500px;
         margin-right: 0px;

    }





}

@media screen and (max-width: 900px) {
   .navbar{
        width: 150%;
        
    }


    .card{
        margin-left: auto;
         margin-right: auto;
    }


    h1{
        margin-left: 500px;
         margin-right: 0px;

    }

    footer{
        margin-left: 500px;
         margin-right: 0px;

    }

#navbarNav{
    margin-left: 100px;
         margin-right: 0px;


}

}



@media screen and (max-width: 1024px) {
    .navbar{
        width: 150%;
        
    }



    .card{
        margin-left: 50px;
         margin-right: 250px;



    }

    h1{
        margin-left: 500px;
         margin-right: 0px;

    }

    footer{
        margin-left: 500px;
         margin-right: 0px;

    }



}

/**********************************************************************/

.afoot{
    text-decoration: none;
    color: white;
    font-size: 20px;
  
}



ul{

    list-style: none;
    
}




#img1{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.navbar-nav{
gap: 200px;
}

.card{

    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    margin-left: 50px;

}

.nav-link{
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.dinner{

    display: grid;
   grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    text-align: center;
    margin-left: 100px;
}

.sweet1{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
   text-align: center;
   margin-left: 100px;

}



#all{
    margin: 50px;
    padding: 100px;
    border-radius: 30px;
    text-align: center;
    
}

.card-img-top{
    
    height: 100%;
    width: 100%;
    
}

.nav-item:hover{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    
}



h1{
    color: wheat;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

#num{

 color: white;
    font-size: 20px;
    font-weight: bold;
    
}

button{
   background-color: rgb(0, 0, 0);
    color: white;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
    border: none;
}


button:hover{
   background-color: rgb(255, 163, 3);
    color: rgb(10, 9, 9);
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
    border: none;
}



#foot{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin-top: 20px;
    border-radius: 30px;
    text-align: center;
}

#foot1{

    border-right: 2px solid white;
    padding-right: 20px;
    display: grid;
    grid-template-columns: auto auto;
   border-left: 2px solid white;
   
} 