body{
   background-image: url("https://i.pinimg.com/1200x/57/84/a4/5784a4f855c12b4e6d8bf6502933ab69.jpg");
}


.container-fluid{
 background-image:url("https://i.pinimg.com/736x/ba/e7/d6/bae7d68febce0f91854e9c1933274394.jpg");
    border-radius: 50px;
    
}

.card{

    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    margin-left: 50px;

}



@media screen and (max-width: 600px) {

       


    #all{
        
       

        margin-left: 100px;
       
        
    }

 .navbar-nav{
    display: flex;
    flex-direction: column;
    gap: 20px;
     align-items: center;
     width: 100%;
        
 }

/* 
.navbar {
    display: flex;
    flex-direction: column;
    gap: 20px;
     align-items: center;
     width: 100%;
    
    } */

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}



.container-fluid{
 width: 100%;



}




.card{
    
 /* background-color: rgb(255, 255, 255);
    border-radius: 30px;
    margin: 200px;
    padding: 20px;

    grid-template-columns: auto;         
    text-align: center;
    margin-left: -100px; */
 margin: 100px;






}


       
#img1{
    width: 50px;
    height: 50px;
    border-radius: 50%;
} 










}

@media screen and (max-width: 900px) {
    .navbar-nav{
        display: flex;
        justify-content: space-between;
       align-items: center;
        gap: 50px;

        
    }




}


@media screen and (max-width: 1024px) {
    .navbar-nav{
        gap: 0;
        
    }

}




#img1{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.navbar-nav{
gap: 250px;
}



.nav-link{
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.dinner{

    display: grid;
   grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    text-align: center;
    margin-left: 100px;
}

.sweet1{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
   text-align: center;
   margin-left: 100px;

}



#all{
    margin: 50px;
    padding: 100px;
    border-radius: 30px;
    /* background-color: rgba(16, 0, 0, 0.219); */
    text-align: center;
    
}







h1{
    color: wheat;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

#num{

 color: white;
    font-size: 20px;
    font-weight: bold;
    
}

button{
   background-color: rgb(49, 2, 234);
    color: white;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
    border: none;
}






#foot{
    background-image: url("https://i.pinimg.com/736x/ba/e7/d6/bae7d68febce0f91854e9c1933274394.jpg");
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin-top: 20px;
    border-radius: 30px;
    text-align: center;
}

#foot1{

    border-right: 2px solid white;
    padding-right: 20px;
    display: grid;
    grid-template-columns: auto auto;
   border-left: 2px solid white;
   
} 